body{
    font-family:Arial,helvetica,sans-serif;
    display: flex;
    justify-content:center;
    height: 100vh;
    background-color:aliceblue;
}
.item-1{
    width: 320px;
    padding: 20px;
    border: 1px solid rgb(82,3,3);
    border-radius: 10ox;
    box-shadow: 0 0 15px rgba(0,0,0,0,9);
    background-color: rgb(7,5,1);
    margin-top: 40%;
}
.item-1 h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color:aliceblue;
}
display{
    margin-bottom:20px;
}
.button
{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 10px;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(0,0,0,0);
    border: 3px solid burlywood;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    background-color: gray;
}
button.equals{
    grid-column: span 2;
    border-radius: none;
    margin-left: 80px;
}

buttons.equals.active{
    background-color:blue;
}

.display input{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    font-size: 20px;
    color: black;
}
.display h2{
    color:aliceblue;
}